{% extends "layout" %}

{% from "_forms" import action_buttons %}

{% block title %}{{ trans('mailadmin.edit_alias') }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ trans('mailadmin.edit') }} <em>{{ alias.source }}</em></h1>
  </div>

  {{ form_model(alias, {'route': ['aliases.update', alias.id], 'method': 'put', 'class': 'form-horizontal', 'role': 'form'}) }}

    {% include "aliases/_form" %}

    {% set save_label = trans('mailadmin.save') %}
    {{ action_buttons(route('aliases.index'), save_label) }}

  {{ form_close() }}
{% endblock %}
