{% extends "layout" %}

{% import "_helpers" as helpers %}

{% block title %}{{ trans('mailadmin.aliases') }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {{ trans('mailadmin.aliases') }}
      <a href="{{ route('aliases.create') }}" class="btn btn-success pull-right"
         title="{{ trans('mailadmin.new_alias_title') }}">{{ trans('mailadmin.new_alias') }}</a></h1>
  </div>

  {% include "aliases/_list" %}
  
  {{ aliases.links | raw }}
{% endblock %}
