{% extends "layout" %}

{% from "_forms" import action_buttons %}

{% block title %}{{ trans('mailadmin.edit_domain') }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ trans('mailadmin.edit') }} <em>{{ domain.fqdn }}</em></h1>
  </div>

  {{ form_model(domain, {'route': ['domains.update', domain.id], 'method': 'put', 'class': 'form-horizontal', 'role': 'form'}) }}

    {% include "domains/_form" %}

    {{ action_buttons(route('domains.index'), trans('mailadmin.save')) }}

  {{ form_close() }}
{% endblock %}
