{% extends "layout" %}

{% import "_helpers" as helpers %}

{% block title %}View domain{% endblock %}

{% block content %}
  <div class="page-header row">
    <h1 class="col-md-10"> View <em>{{ domain.fqdn }}</em></h1>
    <div class="col-md-2 text-right">
      <div class="btn-group margin-top-20">
        <a href="{{ route('domains.edit', domain.id) }}" class="btn btn-default">Edit</a>
        <a href="{{ route('domains.delete', domain.id) }}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5"><h4>Latest added mailboxes</h4></div>
    <div class="col-lg-7"><h4>Latest added aliases</h4></div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Active?</th>
          </tr>
          </thead>
        <tbody>
          {% for mailbox in mailboxes %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ mailbox.email }}</td>
              <td>{{ helpers.boolean_marker(mailbox.active) }}</td>
            </tr>

            {% if loop.last %}
              <tr>
                <td colspan="3" class="text-right">
                  <a href="{{ route('domains.mailboxes', domain.id) }}" class="btn btn-link">See more</a>
                </td>
              </tr>
            {% endif %}
          {% else %}
            <tr>
              <td colspan="3">No mailboxes found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-lg-7">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Active?</th>
          </tr>
        </thead>
        <tbody>
          {% for alias in aliases %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ alias.source }}</td>
              <td>{{ alias.destination }}</td>
              <td>{{ helpers.boolean_marker(alias.active) }}</td>
            </tr>

            {% if loop.last %}
              <tr>
                <td colspan="4" class="text-right">
                  <a href="{{ route('domains.aliases', domain.id) }}" class="btn btn-link">See more</a>
                </td>
              </tr>
            {% endif %}
          {% else %}
            <tr>
              <td colspan="6">No aliases found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
