{% extends "layout" %}

{% from "_forms" import action_buttons %}

{% block title %}{{ trans('mailadmin.new_mailbox') }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ trans('mailadmin.new_mailbox_title') }}</h1>
  </div>

  {{ form_open({'route': 'mailboxes.store', 'method': 'post', 'class': 'form-horizontal', 'role': 'form'}) }}

    {% include "mailboxes/_form" %}

    {{ action_buttons(route('mailboxes.index')) }}

  {{ form_close() }}
{% endblock %}
