{% extends "layout" %}

{% import "_helpers" as helpers %}

{% block title %}{{ trans('mailadmin.search') }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% if q %}
        {{ trans('mailadmin.search_results_for', {'q': q}) }}
      {% else %}
        {{ trans('mailadmin.search') }}
      {% endif %}
    </h1>
  </div>

  {# advanced search form #}
  {# TODO: add advanced search form #}

  {# search results #}
  {% if q %}
    {% if mailboxes %}
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>{{ trans("mailadmin.domain") }}</th>
            <th>{{ trans("mailadmin.active") }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for mailbox in mailboxes %}
            <tr>
              <td><a href="{{ route('mailboxes.show', mailbox.id) }}">{{ mailbox.email }}</a></td>
              <td>{{ mailbox.domain.fqdn }}</td>
              <td>{{ helpers.boolean_marker(mailbox.active) }}</td>
              <td>
                <div class="btn-group btn-group-sm">
                  <a href="{{ route('mailboxes.show', mailbox.id) }}" class="btn btn-default"
                     title="{{ trans("mailadmin.view") }}"><i class="glyphicon glyphicon-list"></i></a>
                  <a href="{{ route('mailboxes.edit', mailbox.id) }}" class="btn btn-default"
                     title="{{ trans("mailadmin.edit") }}"><i class="glyphicon glyphicon-edit"></i></a>
                  <a href="{{ route('mailboxes.delete', mailbox.id) }}" class="btn btn-danger"
                     title="{{ trans("mailadmin.delete") }}"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="col-md-12">
        <p>{{ trans('mailadmin.search_no_results') }}</p>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
